.modal {
    .modal-dialog {
        .modal-header {
            border-bottom: 1px solid rgba(var(--color-medium-rgb), 0.4);
        }
        .modal-content {
            background: var(--color-card);
            border-radius: 20px;
        }
        .modal-footer {
            border-top: 1px solid rgba(var(--color-medium-rgb), 0.4);
        }
    }
}

.offcanvas {
    .offcanvas-header {
        background: var(--color-card);
    }

    .offcanvas-body {
        background: var(--color-card);
    }
}
