:root {
    // Primary
    --color-primary: #169ff1;
	--color-primary-rgb: 22,159,241;
	--color-primary-contrast: #ffffff;
	--color-primary-contrast-rgb: 255,255,255;
	--color-primary-shade: #138cd4;
	--color-primary-tint: #2da9f2;

    // Secondary
    --color-secondary: #e9eff8;
	--color-secondary-rgb: 233,239,248;
	--color-secondary-contrast: #000000;
	--color-secondary-contrast-rgb: 0,0,0;
	--color-secondary-shade: #cdd2da;
	--color-secondary-tint: #ebf1f9;

    // Tertiary
    --color-tertiary: #7430f9;
	--color-tertiary-rgb: 116,48,249;
	--color-tertiary-contrast: #ffffff;
	--color-tertiary-contrast-rgb: 255,255,255;
	--color-tertiary-shade: #662adb;
	--color-tertiary-tint: #8245fa;

    // Success
    --color-success: #4b6708;
	--color-success-rgb: 75,103,8;
	--color-success-contrast: #ffffff;
	--color-success-contrast-rgb: 255,255,255;
	--color-success-shade: #425b07;
	--color-success-tint: #5d7621;

    // Warning
    --color-warning: #F7CD37;
	--color-warning-rgb: 247,205,55;
	--color-warning-contrast: #000000;
	--color-warning-contrast-rgb: 0,0,0;
	--color-warning-shade: #d9b430;
	--color-warning-tint: #f8d24b;

    // Danger
    --color-danger: #b3261e;
    --color-danger-rgb: 179,38,30;
    --color-danger-contrast: #ffffff;
    --color-danger-contrast-rgb: 255,255,255;
    --color-danger-shade: #9e211a;
    --color-danger-tint: #bb3c35;

    // Dark 
    --color-dark: #282828;
	--color-dark-rgb: 40,40,40;
	--color-dark-contrast: #ffffff;
	--color-dark-contrast-rgb: 255,255,255;
	--color-dark-shade: #232323;
	--color-dark-tint: #3e3e3e;

    // Medium
    --color-medium: #6c757d;
	--color-medium-rgb: 108,117,125;
	--color-medium-contrast: #ffffff;
	--color-medium-contrast-rgb: 255,255,255;
	--color-medium-shade: #5f676e;
	--color-medium-tint: #7b838a;

    // Light
    --color-light: #ffffff;
	--color-light-rgb: 255,255,255;
	--color-light-contrast: #000000;
	--color-light-contrast-rgb: 0,0,0;
	--color-light-shade: #e0e0e0;
	--color-light-tint: #f7f7f7;

	// Card
	--color-card: #ffffff;
	--color-card-rgb: 255,255,255;
	--color-card-contrast: #000000;
	--color-card-contrast-rgb: 0,0,0;
	--color-card-shade: #e0e0e0;
	--color-card-tint: #f7f7f7;

    // Font
    --font-serif: 'Inter', sans-serif;
}

body.dark-theme {
	// Dark 
	--color-dark: #e4e6eb;
	--color-dark-rgb: 244,245,248;
	--color-dark-contrast: #000000;
	--color-dark-contrast-rgb: 0,0,0;
	--color-dark-shade: #d7d8da;
	--color-dark-tint: #f5f6f9;

	// Secondary
	--color-secondary: #414141;
	--color-secondary-rgb: 65,65,65;
	--color-secondary-contrast: #ffffff;
	--color-secondary-contrast-rgb: 255,255,255;
	--color-secondary-shade: #393939;
	--color-secondary-tint: #545454;

	// Danger
	--color-danger: #b3261e;
	--color-danger-rgb: 179,38,30;
	--color-danger-contrast: #ffffff;
	--color-danger-contrast-rgb: 255,255,255;
	--color-danger-shade: #9e211a;
	--color-danger-tint: #bb3c35;

	// Medium
	--color-medium: #78797b;
	--color-medium-rgb: 152,154,162;
	--color-medium-contrast: #ffffff;
	--color-medium-contrast-rgb: 0,0,0;
	--color-medium-shade: #86888f;
	--color-medium-tint: #a2a4ab;

	// Light
	--color-light: #000000;
	--color-light-rgb: 0,0,0;
	--color-light-contrast: #ffffff;
	--color-light-contrast-rgb: 255,255,255;
	--color-light-shade: #000000;
	--color-light-tint: #1a1a1a;

	// Card
	--color-card: #1d2226;
	--color-card-rgb: 29,34,38;
	--color-card-contrast: #ffffff;
	--color-card-contrast-rgb: 255,255,255;
	--color-card-shade: #1a1e21;
	--color-card-tint: #34383c;

	img {
		filter: brightness(.8) contrast(1.2);
	}

	.academe-sms-logo {
		filter: brightness(0) invert(0.9);
	}
} 


// Fonts
$font-size-base: 1rem !default; // Assumes the browser default, typically `16px`
$font-size-sm: $font-size-base * .75 !default;
$font-size-md: $font-size-base * 2 !default;
$font-size-lg: $font-size-base * 3 !default;
$font-size-xl: $font-size-base * 4.5 !default;
$font-size-xxl: $font-size-base * 6 !default;

// Headings
$h1-font-size: $font-size-base * 2.5 !default;
$h2-font-size: $font-size-base * 2 !default;
$h3-font-size: $font-size-base * 1.75 !default;
$h4-font-size: $font-size-base * 1.5 !default;
$h5-font-size: $font-size-base * 1.25 !default;
$h6-font-size: $font-size-base !default;