// Maps: Theme Colors
$sms-theme-colors: (
    "primary":      var(--color-primary),
    "secondary":    var(--color-secondary),
    "tertiary":     var(--color-tertiary),
    "success":      var(--color-success),
    "warning":      var(--color-warning),
    "danger":       var(--color-danger),
    "light":        var(--color-light),
    "medium":       var(--color-medium),
    "dark":         var(--color-dark),
    "card":         var(--color-card),
) !default;

// Colors
@each $color, $value in $sms-theme-colors {
    .background-color-#{$color} {
        background: $value;
        color: var(--color-#{$color}-contrast);

        i, span, div {
            color: var(--color-#{$color}-contrast) !important;
        }
    }

    .background-text-#{$color} {
        background-color: rgba(var(--color-#{$color}-rgb), 0.1);
        color: var(--color-#{$color});

        &:hover {
            background-color: rgba(var(--color-#{$color}-rgb), 0.15);
            color: var(--color-#{$color});
        }
    }

    .text-color-#{$color} {
        color: $value;
    }
    
    .background-accent-#{$color} {
        background: rgba(var(--color-#{$color}-rgb), 0.2) !important;
    }
}
